<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Личный чат на WebSocket + Kafka</title>
    <link href="/css/chat.css" rel="stylesheet">
</head>
<body>

<div id="chatPanel">
    <h2>Личный чат</h2>
    <div id="messages"></div>
    <form id="send-form">
        <input type="text" id="recipient-id-input" placeholder="UserId получателя" required/>
        <input type="text" id="message-input" placeholder="Введите сообщение" autocomplete="off" required/>
        <button type="submit">Отправить</button>
    </form>
    <button id="logoutBtn" style="margin-top: 10px;">Выйти</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/apiClient.js"></script>
</body>
</html>
